<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ObjectDetectionTrainingKey" value="52fad44c9d264790a059a3a1ae307eb7" />
    <add key="ObjectDetectionPredictionKey" value="ac91ad38b86a489f987383fff01b2659" />
    <add key="ObjectDetectionProjectName" value="InstaCode" />
    <add key="ObjectDetectionIterationName" value="Iteration 3" />
    <add key="HandwrittenTextSubscriptionKey" value="618257465bd64bc99002b3d5a7f959da" />
    <add key="HandwrittenTextApiEndpoint" value="https://southcentralus.api.cognitive.microsoft.com/vision/v1.0" />
    <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=instacodedebug;AccountKey=MzVUNU841uupIl+gLINOWGj7LVwjyVoWM5mqd31jRyJm/Dy6Z/0J3TV8C86PMgHfQRz4nRvRcWg9RF1SGf3OjA==;EndpointSuffix=core.windows.net" />
    <add key="Sketch2CodeAppFunctionEndPoint" value="https://instacode-debug.azurewebsites.net/api/detection?code=1hcF/fHh4reBaa71I3Og7Ql8q8qvwhMY9///i84fs11EoRvE4X31rg==" />
    <add key="Probability" value="40" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="e9fb186d-7839-4a6b-a1ba-38ceb97b28d3"/>
    <add key="storageUrl" value="https://instacodedebug.blob.core.windows.net"/>
  </appSettings>
</configuration>