<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SnipInsight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SnipInsight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <applicationSettings>
      <SnipInsight.Properties.Settings>
        <setting name="DiagsReportUri" serializeAs="String">
          <value>https://mix.office-int.com/api/log</value>
        </setting>
        <setting name="MixApiEndpoint" serializeAs="String">
          <value>https://mix.office-int.com/</value>
        </setting>
        <setting name="AutoUpdateUri" serializeAs="String">
          <value>https://mix.office-int.com/api/tools</value>
        </setting>
      </SnipInsight.Properties.Settings>
    </applicationSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.net>
      <defaultProxy enabled="true" useDefaultCredentials="true"/>
    <settings>
      <servicePointManager checkCertificateRevocationList="true"/>
    </settings>
    </system.net>
  <userSettings>
    <SnipInsight.Properties.Settings>
      <setting name="LastSaveVideoDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastSaveImageDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="ToolPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ToolDocking" serializeAs="String">
        <value/>
      </setting>
    </SnipInsight.Properties.Settings>
  </userSettings>
</configuration>
