<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="15.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncVoid" Action="Warning" />
    <Rule Id="UseConfigureAwait" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />    <!-- local calls prefixed with this -->
    <Rule Id="SA1129" Action="None" />    <!-- don't use value type constructor-->
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1214" Action="None"/>     <!-- encapsulate field in property-->
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>