@section Steps
{
    <div id="upload" class="d-flex">
        <div>
            <span class="dot active"><span class="header-number active">1</span></span>
        </div>
        <p class="flex-shrink-0 header-text active">UPLOAD DESIGN</p>
    </div>
    <hr>
    <div class="d-flex">
        <div>
            <span class="dot active"><span class="header-number">2</span></span>
        </div>
        <p class="flex-shrink-0 header-text active">SKETCH2CODE IS AT WORK!</p>
    </div>
    <hr>
    <div id="download" class="d-flex">
        <div>
            <span class="dot"><span class="header-number">3</span></span>
        </div>
        <p class="flex-shrink-0 header-text">DOWNLOAD YOUR HTML</p>
    </div>
}
<div class="row">
    <div class="col col-0 col-md-2 col-lg-3"></div>
    <div class="col">
        <div class="justify-content-center d-flex">
            <h1 ><span class="main_sketch">Sketch</span><span class="text-white main_two">2</span><span class="main_code">Code</span></h1>
            
        </div>
        <h2 class="text-center text-white justify-content-center main_subtitle" id="main_03_subtitle">Please wait...</h2>
    </div>
    <div class="col col-0 col-md-2 col-lg-3"></div>
</div>
<div class="row" id="main_03_rowBottom">
    <div class="col col-0 col-md-1"></div>
    <div class="col d-flex justify-content-center align-items-center col-12 col-md-10" id="main_03_colBottom">
        <div class="text-center main_yourSketch">
            <p class="main_03_choices">YOUR SKETCH</p><img alt="Your sketch" class="img-fluid" src="/content/img/step2_leftCircle.png">
        </div>
        <hr class="main_03_lines">
        <div class="d-flex justify-content-center"><img alt="Loading" src="/content/img/loader.gif"></div>
        <hr class="main_03_lines">
        <div class="text-center main_yourHtml">
            <p class="main_03_choices">YOUR HTML CODE</p><img alt="Your forthcoming html" class="img-fluid" src="/content/img/step2_rightCircle%20(2).png">
        </div>
    </div>
    <div class="col col-0 col-md-1"></div>
</div>


