.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.viewport {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.page {
  margin: 0 0.25rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  transition: box-shadow 0.3s ease-out;

  &:hover,
  &.highlight {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.area {
  padding-left: 10px;
  border-left: 3px solid transparent;
}

.paragraph {
  border: 1px solid transparent;

  &:hover {
    border: 1px dashed #39f;
  }
}

.line {
  word-wrap: normal;

  &:hover {
    // background: hsla(36, 100%, 59%, 0.1);
    // outline: solid 1px #ffac30;
  }
}

.word {
  &.target {
    background: yellow;
  }

  &:hover,
  &.highlight {
    background: #99cfff;
    outline: solid 3px #007eff;
  }
}
