<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ObjectDetectionTrainingKey" value="52fad44c9d264790a059a3a1ae307eb7" />
    <add key="ObjectDetectionPredictionKey" value="ac91ad38b86a489f987383fff01b2659" />
    <add key="ObjectDetectionProjectName" value="InstaCode" />
    <add key="ObjectDetectionIterationName" value="Iteration 3" />
    <add key="HandwrittenTextSubscriptionKey" value="618257465bd64bc99002b3d5a7f959da" />
    <add key="HandwrittenTextApiEndpoint" value="https://southcentralus.api.cognitive.microsoft.com/vision/v1.0" />
    <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=sketch2code;AccountKey=n1lBEctWt776md8nGOwitd38Io5qtx+whMYtrDt/Oxj6VQbqbKp6igi83q7Dowr8DKs0ei8SfTCg+8qi7Ik/+g==;" />
    <add key="Sketch2CodeAppFunctionEndPoint" value="https://sketch2codeappfunction.azurewebsites.net/api/detection?code=v2bpA7GMfQ6x7x2bkwSqvarscC4Mu7M7qVK852cn6RXHb0EoFHfdKw==" />
    <add key="Probability" value="0" />
    <add key="TargetObjectDetectionTrainingKey" value="611712d7f84140d484685855d7e99326" />
    <add key="TargetObjectDetectionPredictionKey" value="381fb36c566d4259b7cb247410612931" />
    <add key="TargetObjectDetectionProjectName" value="Sketch2Code" />
    <add key="TargetObjectDetectionIterationName" value="Iteration 1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>