<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ObjectDetectionTrainingKey" value="<your_key>" />
    <add key="ObjectDetectionPredictionKey" value="<your_key>" />
    <add key="ObjectDetectionProjectName" value="InstaCode" />
    <add key="ObjectDetectionIterationName" value="Iteration 3" />
    <add key="HandwrittenTextSubscriptionKey" value="<your_key>" />
    <add key="HandwrittenTextApiEndpoint" value="https://southcentralus.api.cognitive.microsoft.com/vision/v1.0" />
    <add key="AzureWebJobsStorage" value="<your_endpoint>" />
    <add key="Sketch2CodeAppFunctionEndPoint" value="<your_endpoint>" />
    <add key="Probability" value="0" />
    <add key="TargetObjectDetectionTrainingKey" value="<your_key>" />
    <add key="TargetObjectDetectionPredictionKey" value="<your_key>" />
    <add key="TargetObjectDetectionProjectName" value="Sketch2Code" />
    <add key="TargetObjectDetectionIterationName" value="Iteration 1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
