{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
