[Desktop Entry]
Comment=Snip Insights
Terminal=false
Name=Snip Insights
Exec=/usr/bin/SnipInsights.sh &
Type=Application
Icon=/usr/share/pixmaps/SnipInsights.ico
Categories=GNOME;Utility
