@import "./../../theme/_palette.scss";
@import "./../../theme/_breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  color: $colorPrimaryDark;
  background-color: $colorGrey;

  .separator {
    background-color: darken($colorGrey, 50%);
    opacity: 0.5;
    margin: 0;

    @include respond-to-desktop {
      margin: 0 2rem;
    }
  }

  .hocr {
    flex: 1 1 auto;
    margin: 0;

    @include respond-to-desktop {
      margin: 1rem;
    }
  }
}
