@model Sketch2Code.Core.Entities.PredictedObject
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        @String.Join(" ", Model.Text)
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#"></a>

    </div>
 
</div>

   

